@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-terminal-green: #00FF94;
  --color-terminal-red: #FF0055;
  --color-terminal-purple: #7000FF;
  --color-terminal-black: #050505;
  --color-terminal-gray: #1A1A1A;
}

:root {
  --background: #050505;
  --foreground: #E0E0E0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), monospace;
  /* Default to Mono for Terminal Vibe */

}